<h4>Leave comment</h4>
{{ form_start(form, {method: 'POST',
    action: path('comment_new', {'postSlug': post.slug})},
    {'attr': {'novalidate': 'novalidate', 'class':'comment-form'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
