{% extends 'admin-index.html.twig' %}
{% block title %}
    Categories
{% endblock %}
{% block contentName %}
    Categories
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{- path('category_new') -}}" class="btn btn-secondary btn-sm active" role="button">new</a>
    {% endif %}
{% endblock %}

{% block items %}
    {% if categories|length == 0 %}
        <p class="text-center">Categories not found. You can will create new category.</p>
    {% else %}
    {% include 'layouts/_table.html.twig' with {'items' : categories, 'page' : 'category_edit'} only %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(categories) }}
{% endblock %}
