{% extends 'base.html.twig' %}
{% block title %}
  Create category
{% endblock %}
{% block content %}
  <h1 class="text-center">Create category</h1>
  {{ parent() }}
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':'category-form'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
