{% extends 'base.html.twig' %}
{% block title %}
    Edit post
{% endblock %}
{% block body %}
    <h1 class="text-center">Edit post</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':'post-form'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
