{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1 class="text-center">Blog</h1>
    {% if posts is defined %}
        <div class="posts">
            <div class="row">
                {% include 'layouts/_catalog-grid.html.twig' with {'posts' : posts} only %}
            </div>
        </div>
        <div class="navigation pagination justify-content-center mb-4">
          {{ knp_pagination_render(posts) }}
        </div>
    {% else %}
        <p class="text-center">{{ message }}</p>
    {% endif %}
{% endblock %}
