{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1 class="text-center">Blog
        <a href="{{- path('post_new') -}}" class="btn btn-secondary btn-sm active" role="button">new post</a>
    </h1>
    {% if posts|length == 0 %}
        <p class="text-center">Posts not found. You can will create new post.</p>
    {% else %}
        <div class="posts">
            <div class="row">
                {% include 'layouts/_catalog-grid.html.twig' with {'posts' : posts} only %}
            </div>
        </div>
        <div class="navigation pagination justify-content-center mb-4">
          {{ knp_pagination_render(posts) }}
        </div>
    {% endif %}
{% endblock %}
